<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Протоколы об испытаниях</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Номер протокола</th>
            <th scope="col">Дата испытаний</th>
            <th scope="col">Название протокола</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${reports}">
            <td th:text="${report.reportNumber}"></td>
            <td th:text="${#dates.format(report.reportDate, 'dd.MM.yyyy')}"></td>
            <td th:text="${report.reportName}"></td>
            <td><a type="button" class="btn btn-primary mb-3" th:href="@{'/edit-form?reportId=' + ${report.reportId}}">Edit</a></td>
            <td>
                <script th:inline="javascript">
                    function sendDelete(url) {
                        var xhttp = new XMLHttpRequest();
                        xhttp.open("DELETE", url, true);
                        xhttp.onload = function () {
                            let responseURL = xhttp.responseURL;
                            console.log("Redirecting to:", responseURL);
                            window.location.replace(responseURL);
                        };
                        xhttp.send();
                    }
                </script>
                <a type="button" class="btn btn-primary mb-3"
                   th:with="url = @{'/delete?reportId=' + ${report.reportId}}" th:onclick="sendDelete([[${url}]])">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <form class="row g-3" th:action="@{'/create-form'}">
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Создать протокол</button>
        </div>
    </form>
</div>
</body>
</html>